.NavBar{
    background-color: #e7e7e7;
    padding-bottom: 20px;
    padding: 40px 0 20px 0;
}
.NavBar a{
    color:#030303;
    text-decoration: none;
    font-family: 'Redressed', cursive;
}
.NavBar a:hover{
    text-decoration: underline;
    transition-duration: 1s;
    -webkit-transform:scale(1.1); /* Safari et Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* Internet Explorer 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}
.NavBar div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .NavBar a{
        font-size: 30px;
    }
   
}

@media screen and (min-width: 992px) {
    .NavBar a{
        padding: 0 20px 0 20px;
    }
}

@media screen and (min-width: 1200px) {

}